:root {
  --themered: rgb(206, 75, 35);
  --themedarkred: rgb(117, 15, 11);
  --gradientred: linear-gradient(
    140deg,
    rgb(197, 47, 27),
    rgb(150, 76, 47),
    rgb(99, 86, 53)
  );

  --themeblue: rgb(64, 136, 219);
  --themedarkblue: rgb(16, 85, 165);
  --gradientblue: linear-gradient(
    140deg,
    rgb(27, 38, 197),
    rgb(47, 121, 150),
    rgb(53, 86, 99)
  );

  --themeyellow: rgb(206, 195, 35);
  --themedarkyellow: rgb(194, 164, 34);
  --gradientyellow: linear-gradient(
    140deg,
    rgb(187, 199, 17),
    rgb(150, 140, 47),
    rgb(99, 84, 53)
  );

  --themegreen: rgb(79, 212, 67);
  --themegreenopaque: rgb(79, 212, 67, 0.15);
  --themedarkgreen: rgb(89, 129, 25);
  --gradientgreen: linear-gradient(
    140deg,
    rgb(23, 179, 9),
    rgb(52, 148, 73),
    rgb(53, 99, 63)
  );

  --themegrey: rgb(183, 184, 180);
  --themegreylight: rgb(219, 221, 215);
  --gradientlobby: linear-gradient(
    140deg,
    rgba(198, 219, 228, 0.75),
    rgba(147, 130, 155, 0.75),
    rgb(71, 83, 44, 0.75)
  );
  --gradientdrafting: linear-gradient(
    140deg,
    rgba(228, 198, 198, 0.75),
    rgba(147, 130, 155, 0.75),
    rgb(71, 83, 44, 0.75)
  );
  --gradientrunning: linear-gradient(
    140deg,
    rgba(198, 228, 226, 0.75),
    rgba(155, 149, 130, 0.75),
    rgb(71, 83, 44, 0.75)
  );
  --gradientaftergame: linear-gradient(
    140deg,
    rgba(198, 208, 228, 0.75),
    rgba(130, 153, 155, 0.75),
    rgba(72, 44, 83, 0.75)
  );

  --themebackground: rgb(233, 233, 226);
  --themelog: rgba(198, 219, 228, 0.5);
  --themelogtwo: rgba(147, 130, 155, 0.5);
  --themedisabled: rgb(71, 83, 44, 0.5);

  --themegreen:rgb(94, 255, 0);
  --themegreenneon: rgb(94, 255, 0);
  --themesubgreen:rgb(67, 155, 17);
  --themeblack:rgb(1, 4, 1);
  --themegrey: rgb(18, 19, 18);
  --themedisabled: rgb(44, 49, 119);
  --themewhite:rgb(248, 244, 241);
  --themelog:rgb(5, 7, 5);
  --colorneon: rgb(165, 255, 113);
}

.voedgoem-title {
  margin: 0 auto;
  margin-bottom: 8vh;
  width: fit-content;
  width: -moz-fit-content;
  font-size: min(7em, 23vw);
  font-family: 'bigfont', sans-serif;
  text-align: left;
  background: linear-gradient(to left, var(--themegreenopaque), var(--themegreen), var(--themegreenopaque));
  -webkit-background-clip: text; /* Safari/Chrome */
  background-clip: text; /* Standard support */
  color: transparent; 
  line-height: 50%;
  padding-left: 1%;
}

.qrDiv {
  top: unset;
  bottom: 20px;
  position: relative;
  display: flex;
  color: white;
  min-width: 150px;
  min-height: 150px;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 5px;
  border-width: 12px;
  padding: 15px;
  background-color: white;
  margin-top: 2vh;
}

#right .qrDiv {
  display: none;
  position:absolute;
  left: 50%;
  translate: -50%;
}

#left .qrDiv {
  top: 15vh;
}



.qrDiv svg {
  width: auto;
  height: auto;
}

:root {
--themegreen:rgb(94, 255, 0);
--themegreenneon: rgb(94, 255, 0);
--themesubgreen:rgb(67, 155, 17);
--themeblack:rgb(1, 4, 1);
--themegrey: rgb(18, 19, 18);
--themedisabled: rgb(44, 49, 119);
--themewhite:rgb(248, 244, 241);
--themelog:rgb(5, 7, 5);
--colorneon: rgb(165, 255, 113);
}

body {
  font-family: 'smallfont';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 100vw;
  color:white;
}

input {
background-color: transparent;
border-radius: 5px;
font-family: 'smallfont';
z-index: 200;
color: white;
border: 1px solid rgb(255,255,255,0.5);
}

option {
background: var(--themeblack);
color: white;
border: 1px var(--themegreen) solid;
}

button, select {
font-family: 'smallfont';
background-color: transparent;
color: var(--themegreen);
-moz-appearance: none;
text-overflow: hidden;
border: 1px solid rgb(255,255,255,0.5);
}

.neonwhite {
color: white;
text-shadow: 0 0 0.125em hsl( 0 0% 100%/ 0.5),
0 0 0.45em white;
}

.neonwhite.neonbutton:hover{
background: white !important;
}

.neonwhite:before{
background: white;
}

.neonwhite.neonborder {
box-shadow: 0 0 1em 0 white, inset 0 0 1em 0 white;
border: 4px white solid;
}

.neonwhite.neonborder::after {
content: '';
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
box-shadow: 0 0 2em 1em white;
opacity: 0;
border-radius: 100px;
z-index: -1;
}

.neongreen.neonbutton:hover{
background: var(--themegreenneon) !important;
}

.neongreen.neonborder::after {
box-shadow: 0 0 2em 1em var(--themegreenneon), inset 0 0 2em 1em var(--themegreenneon);
}

.neongreen.neonborder {
box-shadow: 0 0 1em 0 var(--themegreenneon), inset 0 0 1em 0 var(--themegreenneon);
border: 4px var(--themegreenneon) solid;
}

.neongreen {
color: var(--themegreenneon);
text-shadow: 0 0 0.125em hsl( 0 0% 100%/ 0.5),
0 0 0.45em var(--themegreenneon);
}

.neongreen::before{
background: var(--themegreenneon);

}

.neonborder {
border-radius: 20px;
}

.neonbutton:hover{
color: var(--themeblack);
text-shadow: none;
}

.neonborder::before {
content: "";
pointer-events: none;
position: absolute;
top: 100%;
left: 0;
width: 100%;
height: 50px;
transform: perspective(2em) rotateX(40deg) scale(0.75, 0.33);
filter: blur(0.9em);
opacity: 0.7;
}

.neonbutton:hover::after{
opacity: 0.5;
}

.neonborder::after{
opacity: 0;
border-radius: 25px;
content: '';
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
width:fit-content;
height:fit-content;
}

.BigButton {
border: 3px var(--themegreen) solid;
color: var(--themegreen) ;
background-color:transparent;
font-size: 12px;
}

ul{
padding-left:27px;
}

ul ul{
padding-left:27px;
}

/*
FIELDS
*/

body {
background-color: var(--themeblack);
}

#board {
float:left;  
width:100vw; 
height: 100vh;
justify-content: center;
}

#left {
position: absolute;
top: 50%;
margin-top: -200px;
height: fit-content;
margin-left:3%;
width:200px;
left: 0;
}

@media (max-width: 1200px) {
  #left {
    bottom: 100px;
    top: unset;
    margin-top: 200px;
    left: 50%;
    margin-left: -100px;
  }

  #left .qrDiv{
    display: none;
  }

  #right .qrDiv {
    display: block;
  }

  .gameLog {
    height: 65vh;
  }
}

#right {
float:right; 
width: 325px; 
height:99%; 
background-color: var(--themelog);
border-radius: 0px;
position: absolute;
right: -320px;
z-index: 1200;
transition: right 0.5s ease-out;
border-left: 1px var(--themegreen) solid;
box-sizing: border-box;
height: 100%;
max-width: 90vw;
}

#right.open{
right:0;
}

#middle {
float:left;  
width:60%; 
height:100%; 
justify-content: center;
}

.gameLogo{
height: 15vh;
margin: 0 auto;	
margin-top: 5vh;
margin-bottom: 5vh;
width: fit-content;
width: -moz-fit-content;
font-size: 14.7vw;
font-family: 'bigfont';
text-align: left;
color: var(--themegreen);
line-height: 15vh;
padding-left: 1%; 
}


.gameLogo img {
height: 100%;
width: 100%;
}

.lobbyDiv {
height: 72vh;
width: 60vw;
margin-left:20%;
background-color: transparent;
color: white;
border-radius: 5px;
}

@media (max-width: 1200px) {
  .lobbyDiv {
    width: 90%;
    margin-left:5%;
    background-color: transparent;
    color: white;
    border-radius: 5px;
  }
}

.locksymbol {
width: 2.5% !important;
height: 3% !important;

margin: 0 !important;
margin-top: 2% !important;
margin-left: 1% !important;
float:left;
background-color: transparent !important;

background-size: 100% 100%;
image-rendering: -webkit-optimize-contrast;
}

.locked {
background-image: url("../images/menu/locked.png");
}

.loginDiv {
display: inline-block;
width: 100%;
height: 200px;
position: relative;
}

.loginButton{
position: relative;
float: left;
width: 250px;
height: 65px;
font-size: 22px;
min-width: 100px;
margin: 0 auto;
}

.signupButton{
position: absolute;
float:right;
margin-right: 20%;
margin-top: 5%;
width: 20%;
height: 65px;
font-size: 22px;
min-width: 100px;
right: 0;
top: 75px;
}

.userNameField {
float: left;
margin-top: 25px;
margin-left: 20%;
width: 20%;
height: 50px;
font-size: 18px;
background-color:transparent;
color: white;
padding-left: 2%;
min-width: 100px;
position:absolute;
}

.userPwField {
float: right;
margin-top: 25px;
margin-right: 20%;
width: 20%;
height: 50px;
font-size: 18px;
background-color:transparent;
color: white;
padding-left: 2%;
min-width: 100px;
}

.startGameButton {
display: none;
}

.bigfont {
font-family: 'bigfont';
}

.failDiv {
color: white;
width: 60%;
margin: 0 auto;
position: absolute;
left: 20%;
margin-top: 4%;
}